<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss:SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>E:/Completed/AAD---Assignment---02nd-Phase/backEnd/logs/app.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss:SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO"> <!-- Changed to INFO to capture more logs -->
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>

    <logger name="lk.ijse" level="DEBUG" additivity="false"> <!-- Adjust logger level as needed -->
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </logger>

</configuration>
